<div class="fixed top-0 bottom-0 right-0 left-0 z-40">
    <div class="relative w-full h-full flex items-center justify-center bg-gray-100">
        <div class="w-1/2 border rounded-xl p-3 bg-white">
            <div class="flex-1 flex items-center justify-center pt-4 pb-4"><%- include("logo.ejs") %></div>
        </div>
    </div>
</div>