<!DOCTYPE html>
<html>
    <head>
        <%- entryPoints.jsEntryPoints %>
        <%- entryPoints.cssEntryPoints %>
    </head>
    <body>
        <h1>My Bg</h1>
        <main>
            <div>
               
            </div>
        </main>
    </body>
</html>